body

.header { width:100%;
		  height:40px;
		  font-size:26px;
		  font-family:arial;
		  text-align:center;
}
.content{ font-size:16px;
		  font-family:calibri;
}	
	
ul 		{ background:red;
		  padding:20px;
}
ul li	{ background:salmon;
}
ol		{ background:blue;
		  padding:15px;
} 
ol li	{ background:skyblue;
		  margin:5px;
}

